
.InputDiv {
    min-height: 5%;
    overflow: visible;
    margin-top: 1%;
}

.WordInput {
    border: 2px solid black;
    border-radius: 4px;
    height: 30px;
    width: 70%;
    translate: 0px -6px;
}

.PlayButton {
    font-size: 30px;
    margin-left: 2%;
    margin-right: 2%;
    padding: none;
}

.StopButton {
    font-size: 30px;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: -10%;
    overflow: hidden;
}

.ValidLight {
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    translate: 0px 3px;
}
