.InteractionWindow {
    width: 25%;
    height: 95%;
    border: solid 1.5px #000000;
    position: fixed;
    overflow: visible;
    margin-left: 73%;
    margin-right: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    overflow-y: scroll;
    overflow-x: visible;
}

.States {
    margin-left: 2%;
    margin-top: 2%;
    overflow: visible;
}

.StatesButton {
    overflow: visible;
    min-width: 20%;
}

.States table {
    margin-left: 2%;
    border-collapse: collapse;
    border: 1px solid black;
    width: 95%;
}

.States tr {
    padding-left: 2%;
}

.States td,
.States th {
    border: 1px solid black;
    padding-right: 1%;
    padding-left: 1%;
}

.States p {
    margin: 0.5%;
}

.Controls {
    border: 1px solid black;
    width: 97%;
    margin: 2%;
    border-collapse: collapse;
}

.Controls tr,
.Controls td {
    border: 1px solid black;
    width: 50%;
    padding-left: 1%;
}