.stateInput {
    position: absolute;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid; 
    border-color: black;
    background-color: white;
    margin-top: 1%;
    margin-left: 1%;
}
