.Viewport {
    height: 500px;
    width: 1000px;
    border: solid 1px black;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}