.Viewport {
    border: solid 1px black;
    position: fixed;
}

.stateInput {
    position: absolute;
    outline: 5px;
    border-radius: 100%;
    border-width: 1.5px;
    border-color: black;
    margin-top: 1%;
    margin-left: 1%;
}