.Viewport {
    border: solid 1px black;
    position: fixed;
}

.stateInput {
    position: absolute;
    border-radius: 100%;
    border-width: 2px;
    border-color: black;
    margin-top: 1%; 
    margin-left: 1%;
}