.Viewport {
    border: solid 1px black;
}

.stateInput {
    position: absolute; 
    outline: none;
    border-radius: 100%;
    border-width: 2px;
    border-color: black;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: -1%;
    margin-right: -1%;
}