.Viewport {
    width: 72%;
    height: 97%;
    border: solid 1.5px black;
    position: fixed;
    background-color: white;
    min-width: none;
    margin-left: 0.5%;
}

.stateInput {
    position: absolute;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid; 
    border-color: black;
    background-color: white;
    z-index: 0;
}
.transitionInput {
    z-index: 0;
    background: 0;
    text-align: center;
    border: none;
    margin-bottom: 30%;
    width: fit-content;
}

.ContextMenu {
    list-style: none;
    border: 1px black;
    box-sizing: border-box;
    position: absolute;
}
