.Viewport {
    height: 500px;
    width: 1000px;
    border: solid 1px black;
}

.stateInput {
    position: absolute; 
    outline: none;
    border-radius: 100%;
    border-width: 2px;
    border-color: black;
}